In [1]:
#import libraries
import pandas as pd
import numpy as np

In [7]:
#load csv file data with headers

location = "datasets/diamonds.csv"
df = pd.read_csv(location)

In [8]:
df.head() #Get first five data rows in diamonds dataset

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [9]:
df.tail(3) #Get last three data rows

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [10]:
#Get column headers 
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [12]:
df.dtypes #get data type for each variable

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

In [13]:
#number of non-NA values
#len(df) would count rows including NA values
df.count()

Unnamed: 0    53940
carat         53940
cut           53940
color         53940
clarity       53940
depth         53940
table         53940
price         53940
x             53940
y             53940
z             53940
dtype: int64

In [14]:
#Get descriptive statistics for price
df['price'].max() #max value

18823

In [15]:
df['price'].min() #min value

326

In [16]:
df['price'].sum() #sum

212135217

In [17]:
df['price'].mean() #mean

3932.799721913237

In [18]:
df['price'].median() #median

2401.0

In [19]:
df['price'].mode() #mode

0    605
dtype: int64

In [20]:
df['price'].value_counts() #count value for each price level

605      132
802      127
625      126
828      125
776      124
789      121
698      121
544      120
666      114
552      113
720      107
596      107
645      104
526      101
675       99
844       98
1013      98
765       95
684       91
561       91
505       90
984       87
658       86
863       86
743       86
854       85
827       84
945       80
942       79
579       78
        ...
15695      1
15031      1
16188      1
10933      1
1416       1
1256       1
5514       1
7563       1
9612       1
11661      1
13710      1
3866       1
5977       1
3930       1
16220      1
2769       1
4818       1
10079      1
18291      1
8916       1
13582      1
11533      1
9484       1
3962       1
14205      1
13550      1
13014      1
6811       1
5354       1
11600      1
Name: price, Length: 11602, dtype: int64

In [21]:
df['price'].std() #standard deviation

3989.4397381463023

In [22]:
#descriptive statistics for all variables in the diamonds dataset
df.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [23]:
#Check for missing values
df.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [25]:
#show rows with missing values
missing = df['price'].isnull()
#missing will only show True/False values
df.loc[missing]

Empty DataFrame
Columns: [Unnamed: 0, carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

In [26]:
#boolean values for if there's another row with the exact values in each column
dupe = df.duplicated()

In [27]:
df.loc[dupe]

Empty DataFrame
Columns: [Unnamed: 0, carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

In [29]:
#Create bins for price
#Define bins as 0-2900, 3000-5999, 6000-10999, 11000-19000
bins = [0, 3000, 6000, 11000, 19000]

# Create names for the four groups
group_names = ['low value', 'mid value', 'high value', 'exclusive']

#make new column with letter grades
df['pricerange'] = pd.cut(df['price'], bins, labels=group_names)
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,pricerange
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,low value
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,low value
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,low value
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,low value
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,low value

In [30]:
pd.value_counts(df['pricerange']) # number of observations per price range

low value     30336
mid value     12053
high value     7263
exclusive      4288
Name: pricerange, dtype: int64

In [33]:
df.groupby('cut')['price'].count() #count of price per diamond cut

cut
Fair          1610
Good          4906
Ideal        21551
Premium      13791
Very Good    12082
Name: price, dtype: int64

In [40]:
df.groupby(['pricerange', 'cut'])['cut'].count() #pivot table

pricerange  cut
low value   Fair           721
            Good          2432
            Ideal        13935
            Premium       6757
            Very Good     6491
mid value   Fair           558
            Good          1531
            Ideal         3626
            Premium       3340
            Very Good     2998
high value  Fair           213
            Good           624
            Ideal         2574
            Premium       2177
            Very Good     1675
exclusive   Fair           118
            Good           319
            Ideal         1416
            Premium       1517
            Very Good      918
Name: cut, dtype: int64

In [46]:
#Calculate and remove outliers
#Standard Deviation Method

meanprice = df['price'].mean()
stdprice = df['price'].std()
toprange = meanprice + stdprice * 1.96
botrange = meanprice - stdprice * 1.96

copydf = df #because we don't want to mess up the original df
copydf = copydf.drop(copydf[copydf['price'] > toprange].index)
copydf = copydf.drop(copydf[copydf['price'] < botrange].index)

copydf.head(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,pricerange
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,low value
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,low value
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,low value
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,low value
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,low value
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,low value
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,low value
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,low value
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,low value
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39,low value